<launch>

  <!-- Open a preconfigured RViz window -->
  <node name="rviz2" pkg="rviz" type="rviz" args="-d $(find leap_panda_telemanipulation)/config/RvizLeap2.rviz" />

  <!-- launch LeaptoPanda node -->
  <node name="leap_to_panda" pkg="leap_panda_telemanipulation" type="LeaptoPanda" respawn="true" output="screen"/>

  <!-- launch Move Group node -->
  <node name="Leap_Move_Group" pkg="leap_panda_telemanipulation" type="LeapMoveGroup.py" respawn="false" output="screen"/>

</launch>
